glob2==0.7
alabaster==0.7.12
anaconda-client==1.2.2
conda==4.3.16
conda-build==2.1.5
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
locket==0.2.0
pafy==0.5.5
PySocks==1.6.8
python-telegram-bot==13.5
pytz==2018.9
pywinpty==0.5.5
PyYAML==5.1
requests==2.21.0
unicodecsv==0.14.1
webencodings==0.5.1
win-inet-pton==1.1.0
wrapt==1.11.1
xlrd==1.2.0
XlsxWriter==1.1.5
python-dateutil==2.8.0
python-telegram-bot==13.5
gunicorn==20.1.0
PySocks==1.6.8
Flask==1.0.2
locket==0.2.0
requests==2.21.0
contextlib2==0.6.0.post1
youtube-dl==2021.4.26
